<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Configuration.DkimSigner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <Configuration.DkimSigner.Settings>
      <setting name="KeyLength" serializeAs="String">
        <value>2048</value>
      </setting>
    </Configuration.DkimSigner.Settings>
  </userSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
	  <proxy usesystemdefault="true" bypassonlocal="true"/>
    </defaultProxy>
  </system.net>
</configuration>
